<!doctype html>
<html ng-app>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
<script type = "text/javascript" src="local.js"</head></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .responsive-table {
        width: 100%;
        overflow:scroll;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-9ff0205d-f375-904a-8ad9-854d2aae876c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
    
    <!--Javascript add post -->
   
    	
  </head>
  <body>
    <!-- Put your own HTML code after this line. Note that Twitter Bootstrap is already setup in this HTML file! -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="home.html">Get FAT</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="home.html">Home</a></li>
              <li><a href="routines.html">Routines</a></li>
              <li><a href="distance.html">Distance Tracker</a></li>
              <li class="active"><a href="appointment.html">FAT buddy</a></li>
              <li><a href="settings.html">Profile</a></li>
              <li><a href="index.html">Logout</a></li>
              <!-- <li><a href="#about">Documentation</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
    <div class="row-fluid">
    	<div class="span3">
    	<div style="align: center">
    	<ul class="nav nav-pills">
	  <li><a href="appointment.html">Appoinment</a></li>
	  <li class="active"><a href="newsfeed.html">Newsfeed</a></li>
	</ul>
    	  <span id="newpost"></span>
    <div class="hero-unit">
      <p>I just hit the 1000KM achievement</p>
      <p>
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_fblike_hcount' displayText='Facebook Like'></span>
      </p>
    </div>


    <div ng-controller="TodoCtrl">     
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <div class="hero-unit">
         <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new post here">
                    <h2>Add a new Post</h2>

        <input class="btn-primary" type="submit" value="add">
      </form> <!-- input text form -->
      
    </div>
   
  
</div><!-- span3 -->
     </div><!-- row-fluid -->	    
     </div><!-- containter-fluid -->
<!-- Bootstrap Javascript Files-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
     <script type="text/javascript" src="js/jquery-ui-1.10.0.custom.min.js"></script>
     <!-- Bootstrap Javascript Files End-->
  </body>
</html>
